* {
  margin: 0;
}
.navLink {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navLink a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #4c00ff;
}

.navLink a:hover {
  background-color: #4c00ff;
  color: white;
}

.navLink a.active {
  background-color: #4c00ff;
  color: white;
}

.nasaphoto img {
  margin: 50px;
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 800px;
  border-radius: 20px;
  box-shadow: 5px 10px 30px pink;
}

body {
  background-image: linear-gradient(to right, rgba(89, 0, 255, 0), #4c00ff);
}

.nasaphoto {
  display: flex;
  justify-content: space-between;
}

.photoDetail {
  margin: 50px;
}

h1,
h3 {
  padding-bottom: 20px;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  color: crimson;
  font-size: 20px;
}

.locationInfo {
  background-color: black;
  color: white;
  height: 80px;
  width: 150px;
  top: 70px;
  right: 100px;
  border: 1px solid grey;
  position: fixed;
  border-radius: 10px;
  padding: 20px;
}

.apodHeading,
.information {
  margin: 20px;
}
